* {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #000;
  max-height: 50px;
}

.navbar-brand {
  color: #fff;
  font-weight: 300;
  font-size: 25px;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-nav .nav-item a {
  color: #fff;
}

.btn-login {
  margin-left: 10px;
  border-radius: 0;
  color: #fff;
  background-color: #000;
}

.btn-login:hover {
  background-color: #ff35ab;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */